.contents {
    width: 500px;
    height: 500px;
}
.dices {
    margin-top: 10px;
}
.dice {
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    margin-right: 20px;
}

.dice-num {
    font-size: 100px;
    text-align: center;
    margin-top: 40px;
}

.play-btn {
    margin-top: 20px;
    clear: both;
    padding: 20px 30px;
}
